html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-weight: lighter;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header article figure img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  gap: .75rem;
}

.banner {
  display: grid;
  align-self: center;
  grid-area: hedding;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "hedding" "main";
}

h1 {
  font-size: 1.8rem;
  font-style: italic;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
}

figcaption {
  color: #fff;
  font-style: italic;
  font-size: 1.5rem;
  grid-column: 1;
  grid-row: 2;
}

article p {
  color: #fff;
}

main {
  align-self: center;
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-area: main;
  gap: .75rem;
}

dl {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-template-rows: 1fr;
  align-self: center;
}

dl dt {
  font-style: italic;
}
